@inherits LayoutComponentBase
@using BlazorCurseach.Services
@inject AuthService authService
@inject NavigationService navigationService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if(isSessionEmpty)
            {
                <div class="navmenu-buttons">
                    <button class="btn btn-primary" @onclick="navigationService.ToSignUp"> Sign Up</button>
                    <button class="btn btn-primary" @onclick="navigationService.ToLogin"> Login</button>
                </div>
            }
            else
            {
                <div class="user-icon-container" style="cursor: pointer; margin-left: auto;" 
                    @onclick="navigationService.ToProfile">
                    <img src="/images/user-icon.png" alt="user-icon" class="user-icon" />
                </div>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected bool isSessionEmpty = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            isSessionEmpty = await authService.IsStorageEmptyAsync();
        }
        StateHasChanged();
    }
}