@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using BlazorCurseach.Services
@inject AuthService authService
@inject NavigationManager navigationManager
@implements IDisposable

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView  RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code
{
    protected bool isAuthorized = false;

    private async Task ToAuthRedirect()
    {
        var uri = navigationManager.Uri;
        if (!uri.Contains("authorization"))
        {
            navigationManager.NavigateTo("authorization", forceLoad: true);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        isAuthorized = await authService.IsStorageEmptyAsync();
        if(isAuthorized == false)
        {
            await ToAuthRedirect();
            navigationManager.LocationChanged += OnLocationChanged;
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        ToAuthRedirect();
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}