<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView  RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFoundContent>
            <p>Sorry, there's nothing at this address.</p>
        </NotFoundContent>
        <NotAuthorizedContent>
            <h2>Sorry</h2>
            <p>You're not authorized to reach this page. You may need to <NavLink class="nav-link" href="/authorization" Match="NavLinkMatch.All">Log in</NavLink> as a different user.</p>
        </NotAuthorizedContent>
    </Router>
</CascadingAuthenticationState>