@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using BlazorCurseach.Services
@inject AuthService authService
@inject NavigationManager navigationManager

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView  RouteData="routeData" DefaultLayout="typeof(Layout.CurseMartLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code
{
    protected bool isAuthorized = false;
    protected bool isSessionEmpty = false;
}