@page "/admin"
@using BlazorCurseach.Data
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject ClientService<Client> clientService

<div class="features-model">

    <h2 class="features-title">Features:</h2>

    <EditForm Model="@Client" FormName="AdminFeaturesForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <button class="btn btn-success" id="admin-button" type="submit" @onclick="() => clientService.CreateAsync(Client)" Create User></button>
        <button class="btn btn-success" id="admin-button" type="submit" @onclick="() => clientService.ReadAsync(id)" View Users></button>
        <button class="btn btn-success" id="admin-button" type="submit" @onclick="() => clientService.UpdateAsync(Client)" Update User></button>
        <button class="btn btn-success" id="admin-button" type="submit" @onclick="() => clientService.DeleteAsync(id)" Delete User></button>
    </EditForm>
</div>

@code
{
    protected Client Client { get; set; } = new();
    protected int id = 0; 
}