@page "/authorization"
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="autorize-nodel">

    <h2>Authorize please.</h2>

    <EditForm Model="@ClientData" OnValidSubmit="SendDataAsync" FormName="AuthorizeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="login">Login</label>
        <InputText id="login" @bind-Value="ClientData.login"></InputText>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="ClientData.password"></InputText>
        
        <button type="submit" disabled="@isLoading" @onclick="@(() => { LoadDataAsync(); isLoading=true; })">
            @if(isLoading)
            {
                <span>Entering...</span>
            }
            else
            {
                <span>Enter</span>
            }
        </button>
    </EditForm>
</div>
    <p>@CurrentUser</p>

@code {
    Client ClientData { get; set; } = new Client();
    bool isLoading = false;
    private Client? CurrentUser;

    protected async Task LoadDataAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<Client?>("CurrentUser");
        CurrentUser = result.Success ? result.Value : null;
    }

    protected async Task SendDataAsync()
    {
        await ProtectedSessionStore.SetAsync("CurrentUser", ClientData);
    }
}