@page "/authorization"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject ProtectedSessionStorage _protectedSessionStorage

<div class="autorize-nodel">

    <h2>Authorize please.</h2>

    <EditForm Model="@ClientData" OnValidSubmit="() => HandleClientData(ClientData.login, ClientData.password)" FormName="AuthorizeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="login">Login</label>
        <InputText id="login" @bind-Value="ClientData.login"></InputText>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="ClientData.password"></InputText>
        
        <button type="submit" disabled="@isLoading" @onclick="() => isLoading=true">
            @if(isLoading) 
                { <span>Entering...</span> }
            else
                { <span>Enter</span> }
        </button>
    </EditForm>
</div>

@code {
    public Client ClientData { get; set; } = new();
    public HashService HashService = new();

    bool isLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoading = true;
            await LoadDataAsync();
            StateHasChanged();
        }
    }

    protected async Task LoadDataAsync()
    {
        var result = await _protectedSessionStorage.GetAsync<Client?>("CurrentUser");
    }

    protected async Task SendDataAsync()
    {
        await _protectedSessionStorage.SetAsync("CurrentUser", ClientData);
    }
    
    public List<string> HandleClientData(string login, string password)
    {
        List<string> clientData = new();

        clientData.Add(login);
        string hashPassword = HashService.CalculateHashData(password);
        clientData.Add(hashPassword);
        HashService.CheckHashSum(clientData);
    }
}