@page "/cart"
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject OrderState orderState
@inject AuthService authService
@inject NavigationService navigationService
  
<div class="cart-container">
    <h2>Your Cart:</h2>

    @if(isSessionEmpty)
    {
        <p>Please <a href="/login">Login</a> or <a href="/join">Sign up</a> to get access to CurseMart cart.</p>
    }
    else
    {
        @if (orderState.cartItems?.Any() == true)
        {
            <ul style="list-style: none; padding: 0; margin: 0;">
                @foreach (var item in orderState.cartItems)
                {
                    <li class="cart-item">
                        <div class="cart-item-image" style="background-image: url('@item.imageLink')"></div>
                        <div class="cart-item-info">
                            <div class="cart-item-title">@item.nameItem</div>
                            <span class="cart-item-price">@item.price g</span>
                        </div>
                        <button class="btn-delete-cart" @onclick="() => orderState.DeleteFromCartAsync(item)">
                            <span>X</span>
                        </button>
                    </li>
                }
            </ul>
            
            <div class="cart-total">
                <div class="cart-total-price">
                    Total: @(orderState.cartItems.Sum(x => x.price)) g
                </div>
                <button class="btn-order" @onclick="PlaceOrder">
                    Order
                </button>
            </div>
        }
        else
        {
            <p>Your cart is empty. <a href="/">Add items</a> to your cart first.</p>
        }
    }
</div>

@code {
    protected bool isSessionEmpty = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            isSessionEmpty = await authService.IsStorageEmptyAsync();
            await orderState.IsCartLoadedAsync();
            StateHasChanged();
    }

    private void PlaceOrder()
    {
        navigationService.ToOrder();
    }
}