@page "/"
@using BlazorCurseach.Services
@using BlazorCurseach.Models
@using FuzzySharp
@inject NavigationService navigationService
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject LinqService linqService
@inject OrderState orderState

<main>
    <div class="search-container">
        <input type="text" @bind="query" @onkeyup="OnSearchInput" 
            class="search-input" placeholder="Search some @curseWord items...">
        <button class="search-btn" type="button"  @onclick="SearchProcessAsync">
            <img src="/images/curse-search-icon.png" alt="search-icon" class="search-icon"/>
        </button>
    </div>

    <ul class="item-cards">
        @foreach(var item in items ?? new())
        {
            <li class="item-card" @onclick="() => orderState.OpenDialog(item)">
                <div class="item-image" style="background-image: url('@item.imageLink')"></div>
                <div class="item-info">
                    <span class="title">@item.nameItem</span>
                    @item.descItem<br>
                    <span class="price">@item.price</span>
                </div>
            </li>
        }
    </ul>

    @if (orderState.IsModalOpen)
    {
        <CardDialog />
    }

    <footer>
        <button class="cart-button" @onclick="navigationService.ToCart">
            <img src="/images/cart-idle-icon.png" alt="cart-icon" class="cart-icon" />
        </button>
    </footer>
</main>

@code {
    protected List<Item>? items = new();
    protected string query = "";

    private string curseWord = "";
    protected Random rand = new Random();
    private List<string> entropyWords = new()
    { 
        "dark", "shadow", "whaith", "doom", 
        "pumpkin", "plague", "demon", "bazaar",
        "bloody", "curse"
    };

    private string GetRandomCurseWord(List<string> entropyWords)
    {
        return entropyWords[rand.Next(entropyWords.Count)];
    }

    protected override async Task OnInitializedAsync()
    {
        items = await httpClient.GetFromJsonAsync<List<Item>>(navigationManager.BaseUri + "items");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            curseWord = GetRandomCurseWord(entropyWords);
            StateHasChanged();
            await Task.CompletedTask;
    }

    private async Task OnSearchInput(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchProcessAsync();
        }
    }

    protected async Task SearchProcessAsync()
    {
        var allItems = await linqService.SelectItems();
        
        if (string.IsNullOrWhiteSpace(query))
        {
            items = allItems;
        }
        else
        {
            items = allItems
                .Where(item => Fuzz.PartialRatio(item.nameItem ?? "", query) > 50)
                .ToList();
        }
        
        StateHasChanged();
    }
}