@page "/login"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject ProtectedSessionStorage protectedSessionStorage
@inject AuthService authService
@inject HashService hashService

<div class="autorize-model">

    <h2 class="authorize-title">Login or Sign Up.</h2>

    <EditForm Model="@client" OnValidSubmit="HandleClientData" FormName="AuthorizeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="login">Login</label>
        <InputText class= "required-fields" @bind-Value="client.login"></InputText><br>
        <label for="password">Password</label>
        <InputText class= "required-fields" type="password" @bind-Value="client.password"></InputText>

        <button class="btn btn-success" type="submit" disabled="@isLoading" @onclick="() => EraseMessage()">
        @if(isLoading)
            { <span>Entering...</span> }
        else
            { <span>Login</span> }
        </button>
    </EditForm>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" id="auth-error">@errorMessage</div>
    }
</div>

@code {
    protected Client client { get; set; } = new();

    protected bool isValid = false;
    protected bool isLoading = false;
    protected string errorMessage = "";

    protected async Task HandleClientData()
    {
        isLoading = true;

        string hashPassword = hashService.CalculateHashData(client.password);

        client.idClient = new Random().Next(1, 10000);
        client.password = hashPassword;

        List<Client> clientData = new() { client };

        isValid = await authService.CheckValidClientAsync(clientData);
        isLoading = false;

        if(isValid)
        {
            await authService.SendDataAsync(client);
            errorMessage = $"Welcome {client.login}!";
            client = new();
            authService.SuccessAuth();
        }
        else
        {
            client = new();
            errorMessage = "Wrong login or password!";
        }
    }

    protected void EraseMessage()
    {
        errorMessage = "";
    }
}