@page "/registration"
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<h3>Registration</h3>

<EditForm Model="@Client">
    <InputText id="firstName" @bind-Value="Client.firstName" />
    <InputText id="lastName" @bind-Value="Client.lastName" />
    <InputText id="fatherName" @bind-Value="Client.fatherName" />
    <InputText id="login"@bind-Value="Client.login" />
    <InputText id="password"@bind-Value="Client.password" />
    <InputText id="phone"@bind-Value="Client.phone" />
    <InputText id="email"@bind-Value="Client.email"/>

    <button type="submit" @onclick="SendAsync"> Start</button>
</EditForm>

@code {
    private Client Client { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        await ProtectedSessionStore.SetAsync("CurrentUser", userSystem);
        /*ProtectedBrowserStorageResult<UserSystem?> result = await ProtectedSessionStore.GetAsync<UserSystem?>("CurrentUser");*/
    }

    public async Task SendAsync()
    {
        
    }
}