@page "/profile"
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject NavigationService navigationService
@inject AuthService authService

<div class="profile-contanier">
@if (Client != null)
{
    <h2>Welcome @Client.login!</h2>

<div class="profile-actions">
    <div class="container-button">
        <button class="cart-button" @onclick="navigationService.ToCart">
            <img src="/images/cart-idle-icon.png" alt="cart-icon" class="cart-icon" />
        </button>
    </div>
    <div class="container-button">
        <button class="order-button" @onclick="navigationService.ToMyOrders">
            <img src="/images/order-icon.png" alt="order-icon" class="order-icon" />
        </button>
    </div>
</div>
    <button class="btn-log-out" type="submit" @onclick="() => LogOut()">
        Log Out
    </button>
}
else
{
    <h2>Loading profile...</h2>
}
</div>

@code {
    private Client? Client { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            Client = await authService.LoadDataAsync();
            StateHasChanged();
    }

    protected async Task LogOut()
    {
        await authService.LogOut();
    }
}